# 排除特定文件
prj_task*.txt
Github*.txt
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虛擬環境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系統文件
.DS_Store
Thumbs.db 